@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/* CSS Reset all default setting */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.header{
    height: 95vh;
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../Img/header-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navitem{
    color: white;
}
.header .logo,
.header .navbar a{
    color: white;
}
.navbar{
    border: 3px solid white;   
}
.header .navbar .logo{
    float: left;
}
.header .navbar .navitems .navitem{
   display: inline-block;
   float: right;
}

.navbar::after{
    content: "";
    display: block;
    clear: both;
}