@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/* CSS Reset all default setting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}
.header {
  height: 95vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../Img/header-image.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.navitem {
  color: white;
}
..navbar a:link,
.navbar a:visited {
  color: #f4f4f4;
}
html {
  font-size: 62.5%;
}
ul li {
  list-style: none;
}
a {
  font-size: 1.6rem;
  text-decoration: none;
  padding: 0.5rem;
  letter-spacing: 0.15rem;
}
p,
li {
  font-size: 1.6rem;
  margin-bottom: 0.5em;
}
h1,
h2,
h3 {
  margin-bottom: 0.5em;
  letter-spacing: 0.15rem;
  font-weight: 500;
}
.navbar {
  border: 3px solid white;
}
.header .navbar .logo {
  float: left;
  /* font-size: 3.5rem; */
}
.lg-heading {
  font-size: 3.5rem;
}
.md-heading {
  font-size: 2.2rem;
}
.text-red {
  color: red;
}
.text-light {
  color: #f4f4f4;
}
.text-black {
  color: #333;
}
.text-gray {
  color: #555;
}

.header .navbar .navitems .navitem {
  display: inline-block;
  float: right;
  margin-top: 1rem;
  text-transform: uppercase;
}

.navbar::after {
  content: '';
  display: block;
  clear: both;
}
